.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 70px;
}
.Nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 60px;
    font-size: 20px;

}
.Nav-connect{
    padding: 20px 40px;
    border-radius: 50px;
    background: linear-gradient(267deg, #DA7C25 5%, #B923E1 95%);
    cursor: pointer;
}
.Nav-connect:hover{
    transform: scale(1.05);
}

#logo{
    width: 15vw;
}
.Nav-menu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}
.Nav-menu li img{
    display: flex;
    margin: auto;
}
.anchor-link{
    text-decoration: none;
    color: white;
}
.nav-mob-open{
    display: none;
}
.nav-close {
  display: none;
}
@media(max-width: 768px){
    .Navbar{
        margin: 20px 50px;
    }
    .Nav-connect{
        display: none;
    }
    .nav-mob-open{
        display: block;
        position: fixed;
        right: 30px;
    }
    .nav-close{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        width: 24px;
        cursor: pointer;
    }
    .Nav-menu{
        position: fixed;
        flex-direction: column;
        align-items: center;
        top: 0px;
        gap: 30px;
        background: #1f0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
        padding-top: 80px;
    }
    .Nav-menu li{
        font-size: 30px;
        padding: 10px 20px;
        flex-direction: row;
        gap: 20px;
    }
}